name: Rust

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: webfactory/ssh-agent@v0.1.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Install Dependencies
        run: |
          sudo apt-get -yqq install libpq-dev
          sudo npm install -g sass
      - name: Install doctl
        #if: github.ref == 'refs/heads/master'
        run: |
          wget https://github.com/digitalocean/doctl/releases/download/v1.35.0/doctl-1.35.0-linux-amd64.tar.gz
          tar -xzf doctl-1.35.0-linux-amd64.tar.gz
          sudo mv doctl /usr/bin
          sudo chown -R runner: ~/.config
          doctl auth init -t ${{ secrets.DOAPIKEY }}
      - name: Restore Cargo Cache
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CACHE_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CACHE_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp --region us-west-1 s3://khonsulabs-gac/cosmiccantina/cache-target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}.tar.bz2 . || true
          tar -xjf cache-target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}.tar.bz2 || true
      - name: Build
        run: |
          # sass sass/index.scss public/stylesheet.css
          cargo build --package server --release --verbose
      - name: Run tests
        run: cargo test --release --verbose
      - name: Configure production
        run: echo "$DOTENVFILE" > .env
        #if: github.ref == 'refs/heads/master'
        env:
          DOTENVFILE: ${{ secrets.DOTENVFILE }}
      - name: Publish to Registry
        id: publish
        #if: github.ref == 'refs/heads/master'
        uses: elgohr/Publish-Docker-Github-Action@2.9
        with:
          name: khonsulabs/cosmiccantina/webserver
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          snapshot: true
      - name: "Deploy"
        #if: github.ref == 'refs/heads/master'
        run: |
          mkdir ~/.kube
          echo "$KUBECONFIG_FILE" > ~/.kube/config
          sed -i 's/latest/${{ steps.publish.outputs.snapshot-tag }}/g' kubernetes.yml
          kubectl --namespace cosmiccantina apply -f kubernetes.yml
        env:
          KUBECONFIG_FILE: "${{ secrets.KUBECONFIG }}"
      - name: Cache Cargo
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CACHE_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CACHE_SECRET_ACCESS_KEY }}
        run: |
          rm cache-*.tar.bz2 || true
          tar -cjf cache-target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}.tar.bz2 target
          aws s3 cp --region us-west-1 cache-target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}.tar.bz2 s3://khonsulabs-gac/cosmiccantina/
